@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
/*common*/
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
span, label {
  display: block;
}
ul, dl, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
.inner {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.btn {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #2E038C;
  color: white;
  font-weight: bold;
  border-radius: 40px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
}
.btn:hover {
  box-shadow: 1px 1px 15px #aaa;
}


/*header*/
header {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 5;
}

.header_inner {
  width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}
.header_inner .logo {
  margin-top: 20px;
  width: 223px;
  height: 45px;
  float: left;
}
.header_inner .logo > a {
  display: block;
  width: 223px;
  height: 45px;
  background-image: url(./logo.png);
  text-indent: -9999px;
  overflow: hidden;
}
.header_inner #top_menu {
  width: auto;
  height: 80px;
  display: flex;
  float: right;
  right: 0;
  top: 0;
}
.header_inner  #top_menu  li {
  width: 100px;
  text-align: center;
  line-height: 80px;
  justify-content: space-around;
  cursor: pointer;
}
.header_inner  #top_menu  li a:hover {
  color: #2E038C;
  font-weight: bold;
}
.header_inner  #top_menu  li.on a {
  color: #2E038C;
  font-weight: bold;
}

/*footer*/
.footer {
  width: 100%;
  height: 300px;
  background-color: #2F214A;
  color: white;
  font-size: 14px;
  margin: 0 auto;
}
.footer  ul {
  width: 800px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}
.footer  ul  li {
  height: 35px;
}

/*main*/
/*home*/
.home {
  position: relative;
}
.home_text {
  width: 100%;
  height: 500px;
  background-color: #F2F2F2;
  margin-bottom: 200px;
}
.home_text  .main_text {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  line-height: 300px;
}

/*guide*/
.main_title {
  font-size: 30px;
  width: 300px;
  height: auto;
  border-bottom: 1px solid black;
  text-align: center;
  box-shadow: 0 5px 5px -4px #aaa;
  font-weight: bold;
  margin: 60px auto 0;
}
.sub_title {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  line-height: 400px;
}
.guide_con {
  width: 1000px;
  height: 270px;
  background-color: #F2F2F2;
  border-radius: 70px;
  margin: 0 auto;
  margin-top:100px;
  margin-bottom: 100px;
  padding-top: 10px;
}
.guide_con  ol {
  width: 800px;
  height: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.guide_con  ol  li {
  width: 220px;
  height: 200px;
  text-align: center;
  margin-top: 25px;
}
.guide_con  ol  li img {
  width: 100px;
  height: 100px;
}
.guide_con ol li p {
  width: inherit;
  text-align: center;
  margin-top: 30px;
}

/*create*/
.create_con {
  width: 1200px;
  height: 800px;
  text-align: center;
  padding-top: 100px;
}
.create_con img {
  width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 50px;
}

.sub_text {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  color: #555555;
  font-weight: bold;
}
.btn_box {
  width: 200px;
  margin: 0 auto;
  margin-top:150px;
}
.analyze {
  margin-top:50px;
}
/*# sourceMappingURL=test.css.map */